.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board {
  padding: 5px;
  background: #bbada0;
  border-radius: 5px;
}

.item-container {
  position: relative;
}

.item {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 5px;
  background: #eee4da;
  border-radius: 4px;

  line-height: 40px;

  cursor: pointer;

  transition: top ease 0.5s;

  &:hover,
  &.selected {
    background: rgba(238, 228, 218, 0.35);
  }

  &.remove-immediately {
    background: red;
  }

  &.item-status_-1 {
    opacity: 0;
  }
}
